@charset "UTF-8";

@font-face {
    font-family: damageplan;
    src: url(../fontes/DAMAGEPLAN\ PERSONAL\ USE.ttf) format('truetype');
}

:root {
    --cor1: #787B94;
    --cor2: #3B3F61;
    --cor3: #9DA1C7;
    --cor4: #151833;
    --cor5: #0B0F33;
    --fonte1: Arial, sans-serif;
    --fonte2: damageplan, sans-serif;
}

* {
    margin: 0px;
}

body {
    font-family: var(--fonte1);
}

div.class {
    display: flex;
}

div#titulo1 {
    font-family: var(--fonte2);
    font-weight: normal;
    font-size: 2em;

    justify-content: center;
    align-items: center;
}

header {
    height: 150px;
    background-color: lightblue;
}