@charset "UTF-8";

@font-face {
    font-family: damageplan;
    src: url(../fontes/DAMAGEPLAN\ PERSONAL\ USE.ttf) format('truetype');
}

:root {
    --cor1: #787B94;
    --cor2: #3B3F61;
    --cor3: #9DA1C7;
    --cor4: #151833;
    --cor5: #0B0F33;
    --fonte1: Arial, sans-serif;
    --fonte2: damageplan, sans-serif;
}

* {
    margin: 0px;
}

body {
    font-family: var(--fonte1);
    background-image: url(../imagens/fundo-mar-att.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#titulo1 {
    padding: 10px;
    color: white;
    font-family: var(--fonte2);
    font-weight: normal;
    font-size: 2em;
    flex: initial;
}

header {
    height: 150px;
    background-color: var(--cor4);
}

main {
    width: 800px;
    margin: auto;
}

main h1 {
    color: white;
    font-weight: bold;
    padding: 15px;
    text-indent: 30px;
    background-image: linear-gradient(to left, #9DA1C7, #3B3F61);
}

section {
    background-color: var(--cor3);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 800px;
    margin: auto;
}

article {
    color: white;
    background-color: var(--cor2);
    display: inline-block;
    padding: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex: initial;
    width: 260px;
    height: 350px;
    
}

article h2 {
    padding-bottom: 10px;
}

div.info {
    height: 150px;
}

footer {
    background-color: #3B3F61;
    height: 40px;
    text-align: center;
    font-size: 1.2;
}

footer p {
    color: white;
    padding: 10px;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor3);
}