@charset "UTF-8";

@font-face {
    font-family: damageplan;
    src: url(../fontes/DAMAGEPLAN\ PERSONAL\ USE.ttf) format('truetype');
}

:root {
    --cor1: #787B94;
    --cor2: #3B3F61;
    --cor3: #9DA1C7;
    --cor4: #151833;
    --cor5: #0B0F33;
    --fonte1: Arial, sans-serif;
    --fonte2: damageplan, sans-serif;
}

* {
    margin: 0px;
}

body {
    font-family: var(--fonte1);
    background-color: #151833;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#titulo1 {
    padding: 10px;
    font-family: var(--fonte2);
    font-weight: normal;
    font-size: 2em;
    flex: initial;
}

header {
    height: 150px;
    background-color: lightblue;
}

main {
    width: 800px;
    background-color: white;
    margin: auto;
}

main h1 {
    padding-left: 40px;
    padding-top: 20px;
}

section {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 800px;
    margin: auto;
}

article {
    display: inline-block;
    padding: 40px;
    flex: initial;
    width: 260px;
    height: 350px;
    
}

article h2 {
    padding-bottom: 10px;
}

div.info {
    height: 150px;
}

footer {
    background-color: #3B3F61;
    height: 40px;
    text-align: center;
    font-size: 1.2;
}

footer p {
    padding: 10px;
}

footer a {
    color: white;
}